.header {
  width: 100%;
}

.header-container {
  padding: 12px 0px;
  display: flex;
}

.main-social {
  margin-left: auto;
}

.main-social-list {
  display: flex;
  gap: 78px;
}

.main-social-list__item {
  display: flex;
  align-items: center;
  gap: 16px;  
}

.main-social-list__link {
  display: block;
  color: #000000;
  transition: color 0.2s ease, opacity 0.2s ease;
  &:hover {
    color: #9900ff;
  }
  &:active {
    opacity: 0.6;
  }
}

.main-social-list__icon {
  order: -1;
}